.card {
    position: relative;
    width: 100%;
    padding: 2.5rem;
}

.card-title {
    font-size: 3rem;
    max-width: 64ch;
    text-wrap: balance;
}

.card.about {
    font-size: 1.5rem;
    width: 50%;
}
.card.about p {
    margin-bottom: 1rem;
    text-wrap: balance;
}

.card.about p a{
    color: #fff;
}

.card.about ul{
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.card.about ul li {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

.card.about ul li span {
    font-size: 1rem;
}